.font-s {
    font-size: 13.2px;
}

.flex {
    display: flex;
}

.red {
    color: red;
}

.font {
    font-size: 25px;
}

.flex-js-content {
    display: flex;
    justify-content: center
}

.mag-10 {
    margin: 10px;
}

.W100 {
    width: 100%;
}

.w100-h100 {
    position: absolute;
    width: 100%;
    height: 100%;
}